.Register {
    background-color: #282c34;
    padding: 60px 0;
    color: blue;

}

.Register Form {
    margin: 0 auto;
    max-width: 266px;
}

.Button {
    color: red;
    padding: 60px;
    position: center;
    margin: auto;
}