.Register {
    padding: 60px 0;
    color: blue;
    margin-left: 40%;


}

.Register Form {
    /* background-color: red; */
    /*margin: 0 auto;*/
    max-width: 266px;
}

.RegistrationButton {
    color: red;
    padding: 60px;
    margin: 20px auto;

}

.Working {
    font-size: 1rem;
}